* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.error-text {
    display: block;
    color:red;
}
#text {
    display: block;
}
/* input:focus {
    outline: none;
} */

body{
    /* max-width: 100%;
    height: 100%; */
    background-color: #0d0d0d;
}
section{
    width: 500px;
    height: 600px;
    padding: 50px 60px;
    background-color: rgba(35, 35, 58, 0.299);
    border: 2px solid #984c0e;
    margin: 0px auto;
}
section form{
    text-align: center;
}
.name{
    margin-bottom: 20px;
    width: 280px;
    height: 40px;
    border: 2px solid #b6b6b6;
    background-color: rgba(57, 74, 74, 0.834);
    border-radius: 35px;
    
    padding: 0px 4px;
}
input::placeholder{
    color: rgb(112, 219, 219);
}
.male{
    color: rgb(112, 219, 219); 
}
 .female  {
    margin-bottom: 20px;
}
.submit{
    background-color: #984c0e;
    width: 100px;
    padding: 4px 0px;
    color: rgb(112, 219, 219); 
    border-radius: 35px;
}
.password-name{
    margin-left: 20px;
}
.fa-solid{
    color: #c2890f;
}


